<div class='table-responsive'>
<th><b>Sale Concepts - List:</b></th>
<table class='table'>
	<thead>
		<tr>
			<th> ID </th>
			<th> Origin Date </th>
			<th> Dest </th>
			<th> Type </th>
			<th> Type Desc </th>
      <th> Rec Loc </th>
      <th> Depart </th>
      <th> Arrival </th>
      <th> Total Cost </th>
      <th> Due Date </th>
      <th> Cust Id </th>
      <th> Agent Id </th>
      <th> Notes </th>
    </tr>
	</thead>
	<tbody>
		<% @concepts.each do | concept | %>
		<tr>
			<td> <%= concept.id %> </td>
			<td> <%= concept.orig_date %> </td>
			<td> <%= concept.destination %> </td>
			<td> <%= concept.trans_type %> </td>
			<td> <%= concept.type_desc %> </td>
      <td> <%= concept.rec_loc %> </td>
      <td> <%= concept.depart %> </td>
      <td> <%= concept.arrival %> </td>
      <td> <%= concept.total_cost %> </td>
      <td> <%= concept.due_date %> </td>
      <td> <%= concept.cust_id %> </td>
      <td> <%= concept.agent_id %> </td>
      <td> <%= concept.notes %> </td>

		</tr>
		<% end %>
	</tbody>
</table>
</div>
