<div class='panel'>
	<div class='panel-body'>
<th>Sale concepts list</th>
<div class='text-right'>
	<a href='/concepts/new' class='btn btn-primary'>
		<i class='glyphicon glyphicon-plus'></i>
		New
	</a>
</div>
<div class='table-responsive'>

<table class='table'>
	<thead>
		<tr>
			<th> ID </th>
			<th> Origin Date </th>
			<th> Dest </th>
			<th> Type </th>
			<th> Type Desc </th>
      <th> Depart </th>
      <th> Arrival </th>
      <th> Total Cost </th>
      <th> Due Date </th>
			<th> Edit </th>
    </tr>
	</thead>

	<tbody>
		<% @concepts.each do | concept | %>
		<tr>
			<td> <%= concept.id %> </td>
			<td> <%= concept.orig_date %> </td>
			<td> <%= concept.destination %> </td>
			<td> <%= concept.trans_type %> </td>
			<td> <%= concept.type_desc %> </td>
      <td> <%= concept.depart %> </td>
      <td> <%= concept.arrival %> </td>
      <td> <%= concept.total_cost %> </td>
      <td> <%= concept.due_date %> </td>
			<td>
					&nbsp;
				  <a href='/concepts/<%= concept.id %>/edit'>
						<i class='glyphicon glyphicon-edit' data-tooltip='Edit'></i>
					</a>
					<!-- &nbsp;&nbsp;
					<a href='/concepts/<%= concept.id %>/delete'>
						<i class='glyphicon glyphicon-trash' data-tooltip='Delete'></i>
					</a> -->
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<%= will_paginate @concepts, renderer: BootstrapPagination::Sinatra %>
</div>
</div>
