<!doctype html>
<html>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
​      <style>
​
        .form-buttons{
          text-align: right;
          border-top: 1px solid #ccc;
          padding:    10px;
        }
​
        /* Page Heading */
        .page-heading{
           border-bottom: 2px solid #efefef;
           padding:       10px;
           margin-bottom: 3em;
           overflow:      auto;
        }
​
          .page-heading-title{
              float: left;
          }
​
          .page-heading-actions{
             float: right;
          }
​
          /* Sales Concept List */
          .sales-concept-list{
​
          }
​
            .sales-concept-list-item{
​
            }
​
              .sales-concept-list-item-details{
                  float: left;
              }
​
              .sales-concept-list-item-total{
                  float: right;
                  font-size:   18px;
                  font-weight: bold;
                  color:       red;
                  position:    relative;
                  border:       1px solid #efefef;
                  padding:     10px;
                  min-height:  75px;
              }
​
                .sales-concept-list-item-total-paid{
                    position: relative;
                    top:      -.2em;
                }
​
                .sales-concept-list-item-total-cost{
                    position: relative;
                    top:      .2em;
                }
​
              .sales-concept-list-item-transactions{
                clear: both;
              }
​
      </style>
​
  </head>
  <body>
​
      <div class='container'>
​
          <!-- PAGE HEADING -->
          <div class='page-heading'>
​
            <!-- PAGE HEADING TITLE -->
            <h2 class='page-heading-title'>
​
              <i class='fa fa-user'></i>
              Customer
​
            </h2>
            <!-- PAGE HEADING TITLE -->
​
            <!-- PAGE HEADING ACTIONS -->
            <div class='page-heading-actions'>
​
              <button class='btn btn-danger'>
                  <i class='fa fa-trash'></i>
                  Inactivate
              </button>
​
            </div>
              <!-- PAGE HEADING ACTIONS -->
​
          </div>
​
          <!-- CUSTOMER DETAILS -->
          <form method='POST'>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                      <i class='fa fa-user'></i>
                      Customer Details
                  </h3>
                </div>
                <div class="panel-body">
​
                    <div class='row'>
                      <div class='col-sm-6'>
                        <div class='form-group'>
                            <label for='first_name'> First Name </label>
                            <input type='text' id='first_name' name='customer[first_name]' class='form-control' value="<%= @customer.first_name %>" />
                        </div>
                      </div>
                      <div class='col-sm-6'>
                        <div class='form-group'>
                            <label for='first_name'> Last Name </label>
                            <input type='text' id='last_name' name='customer[last_name]' class='form-control' value="<%= @customer.last_name %>" />
                        </div>
                      </div>
                      <div class='col-sm-6'>
                        <div class='form-group'>
                            <label for='tel'> Tel </label>
                            <input type='text' id='tel' name='customer[tel]' class='form-control' value="<%= @customer.tel %>" />
                        </div>
                      </div>
                      <div class='col-sm-6'>
                        <div class='form-group'>
                            <label for='email'> Email </label>
                            <input type='text' id='email' name='customer[email]' class='form-control' value="<%= @customer.email %>" />
                        </div>
                      </div>

                    </div>
​
                    <div class="form-buttons">
                      <button class='btn btn-primary'>
                          <i class='fa fa-save'></i>
                          Save
                      </button>
                    </div>
​
                </div>
​
              </div>
          </form>
          <!-- CUSTOMER DETAILS -->
​
          <!-- CUSTOMER DETAILS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                  <i class='fa fa-usd'></i>
                  Sales Concepts
              </h3>
            </div>
            <div class="panel-body">
​
                <div class='sales-concept-list clearfix'>
​
                    <div class='sales-concept-list-item'>
​
                        <div class='sales-concept-list-item-details'>
​                        <div class='table-responsive'>
                        
                        <table class='table'>
                        	<thead>
                        		<tr>
                        			<!--<th> ID </th>-->
                        			<th> Origin Date </th>
                        			<!-- <th> Dest </th> -->
                        			<!-- <th> Type </th> -->
                        			<th> Type Desc </th>
                              <!-- <th> Rec Loc </th> -->
                              <th> Depart </th>
                              <th> Arrival </th>
                              <th> Total Cost </th>
                              <th> Due Date </th>
                              <!-- <th> Cust Id </th> -->
                              <!-- <th> Agent Id </th> -->
                              <!-- <th> Notes </th> -->
                            </tr>
                        	</thead>
                        	<tbody>
                        		<tr>

                        			<td> <%= @concept.orig_date %> </td>
                        			<td> <%= @concept.type_desc %> </td>
                              <td> <%= @concept.depart %> </td>
                              <td> <%= @concept.arrival %> </td>
                              <td> <%= sprintf("$%.2f", @concept.total_cost) %> </td>
                              <td> <%= @concept.due_date %> </td>

                        		</tr>

                        	</tbody>
                        </table>
                        </div>

                          <!--#  Description
                            Due Date-->
​
                        </div>
​
                        <div class='sales-concept-list-item-total'>
​
                              <span class='sales-concept-list-item-total-paid'> <%= sprintf("$%.2f", @concept.total_cost) %> </span>
                              /
                              <span class='sales-concept-list-item-total-cost'> <%= sprintf("$%.2f", @total_cost) %> </span>
​
                        </div>
​
                        <div class='sales-concept-list-item-transactions'>
​
                            <div class='table-responsive'>
                              <table class='table table-striped'>
                                <thead>
                                    <tr>
                                       <th> Transaction Date </th>
                                       <th> Pay Type </th>
                                       <th> Amount </th>
                                       <th> approv_code </th>
                                       <th> agent_id </th>

                                    </tr>
                                </thead>
                                <tbody>
                                  <% @transactions.each do |trans| %>
                                  <tr>
                                     <td> <%= trans.trans_date %> </td>
                                     <td> <%= trans.pay_type %>  </td>
                                     <td> <%= sprintf("$%.2f", trans.amount) %>  </td>
                                     <td> <%= trans.approv_code %> </td>
                                     <td> <%= trans.agent_id %> </td>


                                  </tr>
                                  <% end %>
                                </tbody>

                              </table>
​
                              <div class="form-buttons">
                                <button class='btn btn-primary'>
                                    <i class='fa fa-plus'></i>
                                    Add new Transaction
                                </button>
                              </div>
​
                            </div>
​
                        </div>
​
                    </div>
​
                </div>
​
​
            </div>
          </div>
          <!-- CUSTOMER DETAILS -->
​
​
      <div>
​
​
​
​
​
      <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
​
  </body>
</html>
