<div class='page-heading'>
   <!-- <h2 class='page-heading-title'>
     <i class='fa fa-user'></i>
  Customer
   </h2>
   <div class='page-heading-actions'></div> -->
​ </div>
<form method='POST'>
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            <i class='fa fa-user'></i>
               Customer Details : <%= @customer.id %>
        </h3>
      </div>
      <div class="panel-body">
​
          <div class='row'>
            <div class='col-sm-5'>
              <div class='form-group'>
                  <label for='first_name'> First Name </label>
                  <input type='text' id='first_name' name='customer[first_name]' class='form-control' value="<%= @customer.first_name %>" />
              </div>
            </div>
            <div class='col-sm-5'>
              <div class='form-group'>
                  <label for='last_name'> Last Name </label>
                  <input type='text' id='last_name' name='customer[last_name]' class='form-control' value="<%= @customer.last_name %>" />
              </div>
            </div>
            <div class='col-sm-5'>
              <div class='form-group'>
                  <label for='tel'> Tel </label>
                  <input type='text' id='tel' name='customer[tel]' class='form-control' value="<%= @customer.tel %>" />
              </div>
            </div>
            <div class='col-sm-5'>
              <div class='form-group'>
                  <label for='email'> Email </label>
                  <input type='text' id='email' name='customer[email]' class='form-control' value="<%= @customer.email %>" />
              </div>
            </div>

          </div>
​
          <div class="form-buttons">
            <button class='btn btn-primary'>
                <i class='fa fa-save'></i>
                Save
            </button>
          </div>
​
      </div>
​
    </div>
</form>
<!-- CUSTOMER DETAILS -->
​
<!-- CUSTOMER DETAILS -->
<div class="panel panel-default">
  <div class="panel-heading header-column" >
    <h3 class="panel-title">
        <i class='fa fa-usd'></i>
        Sales
    </h3>
    <div>
       <% if @concept != nil %>
        <span> Total Sale: <%= format_money @concept.total_cost %> </span>
        <span> Paid: <%= format_money @total_cost %> </span>
        <span> Balance Due: <%= format_money @concept.total_cost - @total_cost %> </span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
​
    <% if @concept != nil %>
      <div class='table-responsive'>
      <table class='table'>
      	<thead>
      		<tr>
      			<th> Date </th>
      			<th> Description </th>
            <th> Rec Loc </th>
            <th> Depart </th>
            <th> Arrival </th>
            <th> Total Cost </th>
            <th> Due Date </th>
          </tr>
      	</thead>
      	<tbody>
      		<tr>
      			<td> <%= @concept.orig_date %> </td>
      			<td> <%= @concept.type_desc %> </td>
            <td> <%= @concept.rec_loc %> </td>
            <td> <%= @concept.depart %> </td>
            <td> <%= @concept.arrival %> </td>
            <td> <%= format_money @concept.total_cost %> </td>
            <td> <%= @concept.due_date %> </td>
      		</tr>
      	</tbody>
      </table>
      </div>
    <% else %>
      <h2 class='text-center'> This customer doesn't have any sales </h2>
      <div class="text-center">
          <a href="/concepts/new/<%= @customer.id %>" class='btn btn-primary'>
          <!-- <button class='btn btn-primary'> -->
            <i class='fa fa-plus'></i>
            Add new Sale
          </a>
         </button>
      </div>
    <% end %>

  </div>
</div>
<!-- TRANSACTIONS DETAILS -->
​<!-- END OF TRANSACTIONS DETAILS -->​
<% if @concept != nil %>
<div class="panel panel-default">
<div class="panel-heading header-column" >
  <h3 class="panel-title">
      <i class='fa fa-usd'></i>
      Payments
  </h3>
</div>
<div class="panel-body">

  <div class='table-responsive'>
    <table class='table table-striped'>
      <thead>
          <tr>
             <th> Date </th>
             <th> Pay Type </th>
             <th> Amount </th>
             <th> Approval # </th>
             <th> User id </th>
             <th> Trans Notes </th>
          </tr>
      </thead>
      <tbody>
        <% @transactions.each do |trans| %>
        <tr>
           <td> <%= trans.trans_date %> </td>
           <td> <%= trans.pay_type %>  </td>
           <td> <%= format_money trans.amount %>  </td>
           <td> <%= trans.approv_code %> </td>
           <td> <%= trans.user_id %> </td>
           <td> <%= trans.trans_notes %> </td>

        </tr>
        <% end %>
      </tbody>

    </table>
</div>
​
  <% if  @concept.total_cost - @total_cost > 0 %>
  <div class="text-center">
    <a href="/transactions/new/<%= @customer.id %>/<%= @concept.id %>" class='btn btn-primary'>
        <i class='fa fa-plus'></i>
        Add new Payment
    </a>
  </div>
  <% else %>
  <div class="text-center">
    <button class='btn btn-primary' disabled >
        <i class='fa fa-plus'></i>
        Add new Payment
    </button>
  </div>
  <% end %>

</div>
</div>
<% end %>
