<div class='panel'>
	<div class='panel-body'>

<div class='table-responsive'>
<th>Receipts List</th>
<table class='table'>
	<thead>
		<tr>
			<th> ID </th>
			<th> Cust Id </th>
			<th> Sales Id </th>
			<th> Pay Type </th>
			<th> Amount </th>
      <th> Approval Code </th>
      <th> Trans Date </th>
      <th> User Id </th>
      <th> Notes </th>
			<th> Edit/Del </th>

		</tr>
	</thead>
	<tbody>
		<% @transactions.each do | transaction | %>
		<tr>
			<td> <%= transaction.id %> </td>
			<td> <%= transaction.cust_id %> </td>
			<td> <%= transaction.concept_id %> </td>
			<td> <%= transaction.pay_type %> </td>
			<td> <%= transaction.amount %> </td>
      <td> <%= transaction.approv_code %> </td>
      <td> <%= transaction.trans_date %> </td>
      <td> <%= transaction.user_id %> </td>
      <td> <%= transaction.trans_notes %> </td>
			<td>
				  <a href='/transactions/<%= transaction.id %>/edit'>
						<i class='glyphicon glyphicon-edit' data-tooltip='Edit'></i>
					</a>
					&nbsp;&nbsp;
					<a href='/transactions/<%= transaction.id %>/delete'>
						<i class='glyphicon glyphicon-trash' data-tooltip='Delete'></i>
					</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<%= will_paginate @transactions, renderer: BootstrapPagination::Sinatra %>
</div>
</div>
